
#form-main121{
    background-color:white; 
    height: 450px;
    width: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding:50px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 10px 10px ;
}

.form-label{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.btn-2{
    border-radius: 50px 50px;
}
#btn-11{
    color: black;
    font-size: 18px;
}
#btn-111{
    /* color: black; */
    font-size: 18px;
}
#btn-121{
    color: black;
    font-size: 18px;
    background-color: white;
    border: none;
    &:hover{
        background-color: aliceblue;
    }
}
#btn-122{
    color: blue;
    font-size: 18px;
    background-color: white;
    &:hover{
        background-color:#f3f2f0;
    }
}